{
  "openapi": "3.0.1",
  "info": {
    "title": "Payze.Payment",
    "description": "Payment API v2 .Net Core - Payze ",
    "contact": {
      "name": "Payze Llc.",
      "email": "info@Payze.com"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://payze.io/v2/api/"
    }
  ],
  "paths": {
    "/bankaccount": {
      "post": {
        "tags": [
          "BankAccount"
        ],
        "summary": "Create Payout Account",
        "description": "N/A not for external use.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "BankAccount"
        ],
        "summary": "DELETE Payout Account ADMIN",
        "description": "N/A not for external use.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "BankAccount"
        ],
        "summary": "Update Payout Account ADMIN",
        "description": "N/A not for external use.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "bankName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "ibanName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "currency": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "companyId": {
                    "type": "integer",
                    "description": "",
                    "format": "int64"
                  },
                  "ibanFrom": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryName": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "beneficiaryTaxId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "iban": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "accountNumber": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "mfo": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "default": {
                    "type": "boolean",
                    "description": "",
                    "default": false
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "integer",
                      "description": "",
                      "format": "int64"
                    },
                    "companyId": {
                      "type": "integer",
                      "description": "",
                      "format": "int64",
                      "nullable": true
                    },
                    "ibanName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "bankName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "currency": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "default": {
                      "type": "boolean",
                      "description": "",
                      "nullable": true
                    },
                    "ibanFrom": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryName": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "beneficiaryTaxId": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "iban": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "accountNumber": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "mfo": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/bankaccount/query/token-based": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "summary": "GET Payout Accounts",
        "description": "This API endpoint allows you to retrieve the list of enabled bank accounts for payouts. \nThe list of bank accounts indicates which accounts are eligible for receiving payout transactions.OData is a standardized protocol for building and consuming RESTful APIs.\nSupported query parameters are: \n- $filter: Filter the payments based on specific criteria.\n- $orderby: Specify the sorting order for the payments.\n- $top: Limit the maximum number of payments to retrieve.\n- $skip: Specify the number of payments to skip from the beginning.\nNote: This endpoint supports pagination using the $top and $skip parameters.",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/bankaccount/query/root": {
      "get": {
        "tags": [
          "BankAccount"
        ],
        "summary": "GET Payout Accounts ADMIN",
        "description": "This API endpoint allows you to retrieve the list of enabled bank accounts for payouts. \nThe list of bank accounts indicates which accounts are eligible for receiving payout transactions.OData is a standardized protocol for building and consuming RESTful APIs.\nSupported query parameters are: \n- $filter: Filter the resource based on specific criteria.\n- $orderby: Specify the sorting order for the resource.\n- $top: Limit the maximum number of resources to retrieve.\n- $skip: Specify the number of resources to skip from the beginning.\nNote: This endpoint supports pagination using the $top and $skip parameters.",
        "parameters": [
          {
            "name": "$filter",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "$top",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$skip",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "$orderby",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "value": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "integer",
                            "description": "",
                            "format": "int64"
                          },
                          "companyId": {
                            "type": "integer",
                            "description": "",
                            "format": "int64",
                            "nullable": true
                          },
                          "ibanName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "bankName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "currency": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "default": {
                            "type": "boolean",
                            "description": "",
                            "nullable": true
                          },
                          "ibanFrom": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryName": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "beneficiaryTaxId": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "iban": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "accountNumber": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          },
                          "mfo": {
                            "type": "string",
                            "description": "",
                            "nullable": true
                          }
                        },
                        "additionalProperties": false
                      },
                      "description": "Array of Payout accounts",
                      "nullable": true
                    },
                    "count": {
                      "type": "integer",
                      "description": "Total Number of records available for the filter",
                      "format": "int64",
                      "nullable": true
                    }
                  },
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/certificate": {
      "post": {
        "tags": [
          "Certificate"
        ],
        "summary": "Create Certificate for the Company",
        "description": "N/A not for external use.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "certificate": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "bankId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "merchantId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "comment": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "certificate": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "bankId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "merchantId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "comment": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            },
            "application/*+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "certificate": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "password": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "bankId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "merchantId": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  },
                  "comment": {
                    "type": "string",
                    "description": "",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              },
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "title": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "status": {
                      "type": "integer",
                      "description": "",
                      "format": "int32",
                      "nullable": true
                    },
                    "detail": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    },
                    "instance": {
                      "type": "string",
                      "description": "",
                      "nullable": true
                    }
                  },
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/company/payments": {
      "get": {
        "tags": [
          "Company"
        ],
        "summary": "Company Payments ADMIN",
        "description": "N/A not for external use.",
        "parameters": [
          {
            "name": "CompanyId",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "companyPayments": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "paymentId": {
                            "type": "integer",
                            "description": "",
                            "format": "int32"
                          },
                          "paymentDate": {
                            "type": "string",
[...]
